body {
	margin: 0 auto;
	max-width: 800px;
	background-color: #eceff1;
	max-height: 100%;
}

h3 {
	text-align: center;
}

.choosecurrencies md-input-container {
	margin: 10%;
}

.choosecurrencies {
	margin-left: 10%;
}

md-toolbar {
	background-color: #607d8b !important;
}

.choosecountry {
	margin: 0 auto;
	padding: 7%;
}

.choosecountry span {
	font-size: 1.2em;
}


.exchangerate {
	margin: 0 auto;
}

select {
	border: none;
	padding: 1% 0;
}

.curr {
	margin-top: 15%;
}

.fast {
	margin-left: 20%;
}

md-radio-button {
	background-color: #607D8B;
	color: #fff;
	width: 40%;
	padding: 10px 0;
}

._md-on, ._md-off {
	border-color: #fff !important;
	margin-left: 5px;
}